/* colors 
main color:  #212121;
second color:  #757575;
accent:  #2196f3;*/

:root {
  --small-texts: #757575;
  --accent-color: #2196f3;
  --white-text: #ffffff;
}

body {
  background-color: #f5f5f5;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Navigation */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.92;
}

.nav-contacts,
.nav-link {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link,
.portfolio-button {
  color: #212121;
}

.nav-link:hover,
.nav-link:focus,
.nav-contacts:hover,
.nav-contacts:focus,
.address-link:hover,
.address-link:focus,
.address-street:hover,
.address-street:focus,
.logo-web,
.current {
  color: var(--accent-color);
}

.nav-contacts,
.advantages-text,
.team-position,
.portfolio-text {
  color: var(--small-texts);
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

/* Hero */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-title,
.portfolio-button:hover,
.hero-button,
.logo-studio,
.address,
.address-street {
  color: var(--white-text);
}

/* Advantages */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* What are   we doing */

.main-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Team */

.team-title {
  font-weight: 500;
  line-height: 1.9;
}

.team-position {
  font-weight: 400;
  line-height: 1.9;
}

.team,
.portfolio-button {
  background-color: #f5f4fa;
}

/* Portfolio page */
.portfolio-button:hover,
.hero-button {
  background-color: var(--accent-color);
}

.portfolio-button {
  font-weight: 500;
  line-height: 1.62;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 400;
  line-height: 1.88;
}

/* Buttons */

.portfolio-button {
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 0.03em;
}

.hero-button {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
